div#home {
  display: flex;
  flex-flow: column;
}

div#tags-bar {
  height: 2em;

  width: 100%;
  margin-bottom: 2em;
}

div#articles-view {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

/* small screen  */
@media screen and (max-width: 768px) {
  body div.article-card-container:not(.managed) {
    width: 75vw;
    height: 45%;
    align-items: flex-start;
  }
}

/* mid screen */
@media screen and (min-width: 768px) {
  body div.article-card-container:not(.managed) {
    width: 200px;
    margin-right: 1em;
  }
}

/* lg screen */
/* @media screen and (min-width: 1024px) { */
/* body { */
/* div.article-card-container:not(.managed) { */
/* max-width: 33%; */
/* } */
/* } */
/* } */

/* @media screen and (min-width: 1280px) { */
/* body { */
/* div.article-card-container:not(.managed) { */
/* max-width: 15%; */
/* } */
/* } */
/* } */

/* @media screen and (min-width: 1536px) { */
/* body { */
/* div.article-card-container:not(.managed) { */
/* max-width: 10%; */
/* } */
/* } */
/* } */
