div.article-card-container {
  /* border: 1px solid red; */
  /* height: 300px; */
  /* width: fit-content; */
  height: 350px;
  border-radius: 1em;
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

div.article-card-preview-container {
  height: 74%;
  background-color: #d9dce0;
  object-fit: cover;
  overflow: hidden;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

div.article-card-preview-container > p {
  padding: 1em;
  flex-grow: 2;
}

div.article-card-preview-container > img {
  min-width: 100%;
  min-height: 100%;
  /* max-height: 350px; */
  object-fit: cover;
}

div.article-card-info-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
  height: 20%;
  justify-content: space-between;
}

p.title-small {
  font-weight: bold;
}

p.subtitle-small {
  font-weight: object-fit;
  font-size: 11pt;
}

p.date-small {
  font-weight: normal;
  font-size: 11pt;
  color: var(--date-color);
}

span.quote {
  font-weight: bolder;

  font-size: 2em;
}

@media screen and (max-width: 768px) {
  body {
    div.article-card-preview-container {
      height: fit-content;
    }
    div.article-card-container {
      height: fit-content;
      & img {
        height: 150px;
      }
    }
  }
}
