div.confirm-deletion-modal-container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    width: 400px;
    height: 200px;
    padding: 1em;
    background-color: var(--site-background);
    border-radius: 1.5em;

    & div:first-child {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
}

div.deletion-modal-conf {
    width: 80%;
    flex-grow: 2;
    font-size: 12pt;
    font-weight: 400;
    align-self: center;
    justify-self: center;
}

div.deletion-modal-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 15px;

    & > button {
        font-weight: bold;
        font-size: 12pt;
        color: var(--button-color-secondary);
        background: var(--site-background);
        border: 1px solid #1e1e1e;
        padding: 0.7em 1.8em;
        border-radius: 2em;
        cursor: pointer;
    }

    & > button:last-child {
        background: var(--button-color-secondary);
        border: 1px solid var(--button-color-secondary);
        color: var(--site-background);
    }
}

div.deletion-modal-button-container > button:first-child:hover {
    background-color: var(--button-color-focus);
    border: 1px solid var(--button-color-focus);
    color: white;
}

div.deletion-modal-button-container > button:last-child:hover {
    background-color: var(--button-color-secondary-focus);
    border: 1px solid var(--button-color-secondary-focus);
    color: white;
}
