div.user-comment-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & p {
        max-width: 80%;
        white-space: normal;
        width: 80%;
        overflow-wrap: break-word;
    }
    & > div:last-child {
        height: min-content;
    }
    background-color: var(--card-background);
    padding: 1em;
    margin: 0.3em;
    border-radius: 1em;
}

div.comment-details {
    width: 80%;
    & p {
        width: 100%;
    }
}
