div#navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 5em;
  & img#user-profile-icon {
    height: 3em;
    border-radius: 4em;
    border: 1px solid lightgrey;
    background-color: transparent;
    cursor: pointer;
  }
}

div#navbar-login-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1em;
  & * {
    cursor: pointer;
  }
}
li.nav-items {
  align-self: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
div#navbar > ul {
  height: 100%;
  padding-top: 4em;
}

.profile-dropdown {
  position: absolute;
  left: 4em;
  background-color: white;
  padding: 1em;
  row-gap: 1em;
  border: 1px solid darkgrey;
  border-radius: 1em;
  z-index: 2;
}

.hidden {
  display: none;
}

button#profile-button {
  border: 1px transparent;
  background-color: transparent;
}

div#add-article-button {
  width: 3em;
  height: 3em;
  background-color: var(--button-color);
  border-radius: 1em;
  display: flex;
  color: var(--site-background);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

div#add-article-button:hover {
  background-color: blue;
}

div.nav-icon-container {
  height: 3em;
  width: 3em;
  & img {
    width: 100%;
    height: 100%;
  }
}
